[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
google-generativeai = "*"
python-dotenv = "*"
google-genai = "*"
django-allauth = {extras = ["socialaccount"], version = "*"}

[dev-packages]

[requires]
python_version = "3.14"
